
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card bg-secondary border-0 shadow-lg">
      <div class="card-body p-4">
        <h2 class="mb-3 text-center text-warning">Login</h2>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required />
          </div>
          <button class="btn btn-warning w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
